@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}
.main{
    background-color: white;
}
.body {
    height: 200vh;
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.container {
    background-color: rgb(255, 255, 255);
    color: white;
}

/* navbar start */
.navbar {
    background-color: white;
    height: 60px;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.logo {
    color: red;
    font-size: 30px;
}

.menu-list {
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding: 0;
    text-decoration: none;
}

.menu-list-item {
    cursor: pointer;
    text-decoration: none;
    color: #0800f9;
    font-size: large;
}

.menu-list-item:hover {
    font-weight: bold;
}

.menu-list-item.active {
    font-weight: bold;
    text-decoration: none;
}

.profile-picture {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right:8px;
}

.profile-container {
    display: flex;
    align-items: center;
    column-gap: 0px;
    cursor: pointer;
}

.profile-text-container {
    display: flex;
    align-items: center;
    column-gap: 5px;
    line-height: 1;
}

.toggle {
    width: 40px;
    background-color: white;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
    transition: .5s ease- all;
}

/* navbar end */
/*.sidebar start */

.sidebar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    row-gap: 40px;
    align-items: center;
    position: fixed;
    top: 0;
}

.sidebar i {
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
}

/*.sidebar end */

/* featured start */
.content-wrapper {
    margin-left: 50px;
    color: white;
}

.featured-content {
    background: url("https://cdn1.ntv.com.tr/gorsel/R4SQRBq7g0-XrAWdub0yow.jpg?width=960&mode=crop&scale=both");
    padding: 50px;
    height: calc(100vh - 160px);
    background-size: 100% 100%;
}

.featured-title {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.featured-desc {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 30px;
    color: black;
}

.featured-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.featured-buttons button {
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.featured-buttons .play-button {
    margin-left: 30px;
}

.featured-buttons .info-button {
    background-color: rgb(145, 145, 145, 0.5);
    color: white;

}

/* featured end */
/* filter start */
.movie-list-filter {
    padding: 20px;
    margin: 0px 0 0px 50px;
   
}

.movie-list-filter select {
   
    color: rgb(0, 0, 0);
    padding: 7px 0;
    width: 125px;
}

/* filter end */
/* movie list start */
.movie-list-container {
    margin-left: 50px;
    
    color: white;
    height: 400px;
}

.movie-list-title {
    margin-bottom: 10px;
    color: black;
}

.movie-list {
    list-style: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}

.movie-list-wrapper {
    overflow: hidden;
    position: relative;
}

.movie-item-img {
    width: 270px;
    height: 300px;
    object-fit: cover;
    transition: 1s all ease-in-out;
}

.movie-item {
    position: relative;
}

.movie-item:hover .movie-item-buttons {
    opacity: 1;
}

.movie-item:hover .movie-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;

}

.movie-item-buttons {
    background-color: rgb(40, 40, 40, 0.4);
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 50%;
    left: 50px;
    column-gap: 20px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.movie-item-buttons i {
    cursor: pointer;
    opacity: 0.5;
    font-size: 20px;
    transition: 0.5s all ease;
}

.movie-item-buttons i:hover {
    opacity: 1;
}

.arrow {
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 100px;
    opacity: .5;
    transition: .5s ease all;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
}

/* movie list end */

/* dark mode start */
.main.active{
    background-color: #000;
}
.container.active {
    background-color: black;

}

.navbar.active {
    background-color: black;
    color: black;
}

.sidebar.active {
    background-color: black;

}

.sidebar i.active {
    color: white;
}

.toggle.active {
    background-color: white;
}

.toggle-ball.active {
    background-color: rgb(0, 0, 0);
    transform: translateX(-20px);
}

.movie-list-container.active {
    background-color: black;
}

.movie-list-filter.active {
    background-color: black;
}

.movie-list.active {
    background-color: black;
}

.movie-list-title.active {
    color:white;
}

.movie-list-filter select.active {
    background-color: black;
    color: rgb(255, 255, 255);
}

#accountButton.active {
    background-color:  #1639d4;
    color: #000;
}

/* dark mode end */

/* responsive start */
@media only screen and (max-width:800px) and (min-width:200px) {
    .menu-container {
        display: none;

    }

    .featured-content {
        height: 60vh;
    }

    .featured-title {
        width: 200px;
    }

    .featured-desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-width: 200px;
        padding: 0;
    }
    #formContainer{
        width: 50%;
       }
}

/* responsive end */
/* hesabım start */
#accountButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #006af5;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.Giriş {
    color: black;
    margin-top: 15px;
    

}

.input {
    border: 1px solid black;
}

.baslık {
    color: #000;
}

.kayıt {
    background-color: #45a049;
    margin-top: 8px;
    border: 1px solid gainsboro;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
#registerForm{
 width:50%;
 
}
#formContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

#closeButton,
#backButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    margin-bottom: 10px;
   
}

#backButton {
    left: 10px;
    right: auto;
     margin-bottom: 10px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    
}
.inputregister {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
}
button[type="button"],
button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1639d4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #45a049;
}
.button1:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

/* hesabım end */
